.container {
    overflow: auto;
    /* Per evitare che il contenuto fuoriesca dai div */
}

.dataAndFilter,
.table {
    float: left;
    /*width: 50%;*/
}

.filter {
    background-color: antiquewhite;
}

.insData {
    background-color: antiquewhite;
}